h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
em,
sub,
sup {
  margin: 0;
}
.scene,
.slugline,
.subheader,
.transition,.dialogue, .parenthetical {
  line-height: 1.375rem; /* 110% */
  margin-top: 5px;
}
.scene,
.slugline {
  color: #000;
  font-family: 'Roboto';
  font-weight: 600;
}
.scene {
  font-size: 1.125rem;
  width: 50%;
}
.subheader {
  font-family: 'FML-IndulekhaHeavy';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
.slugline {
  font-size: 1rem;
  font-style: italic;
}
.transition {
  font-family: 'FML-Indulekha';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.transition::before{
  content: "- ";
}
.transition::after{
  content: " -";
}
.dialogue-container {
  display: flex;
}
.dialogue {
  width: 50%;
}

.parenthetical {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.parenthetical::after {
  content: ' : ';
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}
.action {
  width: 50%;
  word-break: break-all;
}

/* placeholder*/
.dialogue:has(br):not(:has(span)):not(:focus)::before {
  position: absolute;
  content: attr(data-placeholder);
  color:grey;
  opacity: 0.5;
}
.parenthetical:has(br):not(:has(span)):not(:focus)::before {
  position: absolute;
  left: 0;
  content: attr(data-placeholder);
  color:grey;
  opacity: 0.5;
}
.slugline:has(br):not(:has(span)):not(:focus)::before {
  position: absolute;
  content: attr(data-placeholder);
  color:grey;
  opacity: 0.5;
}
.scene:has(br):not(:has(span)):not(:focus)::before {
  position: absolute;
  content: attr(data-placeholder);
  color:grey;
  opacity: 0.5;
}
.subheader:has(br):not(:has(span)):not(:focus)::before {
  position: absolute;
  content: attr(data-placeholder);
  color:grey;
  opacity: 0.5;
}
.transition:empty:not(:focus)::before {
  position: absolute;
  content: attr(data-placeholder);
  color:grey;
  opacity: 0.5;
}
.action:has(br):not(:has(span)):not(:focus)::before {
  position: absolute;
  content: attr(data-placeholder);
  color:grey;
  opacity: 0.5;
}