h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
em,
sub,
sup {
  margin: 0;
}

.scene,
.slugline,
.subheader,
.transition {
  line-height: 1.375rem; /* 110% */
}
.scene,
.slugline {
  color: #000;
  font-family: 'Roboto';
  font-weight: 600;
}
.scene {
  font-size: 1.125rem;
}
.subheader {
  font-family: 'FML-IndulekhaHeavy';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
.slugline {
  font-size: 1rem;
  font-style: italic;
}
.transition {
  font-family: 'FML-Indulekha';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  text-align: center;
}
.dialogue-container{
  width:100%;
  background-color: cyan;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}

.mention:focus {
  box-shadow: rgb(180 213 255) 0px 0px 0px 2px;
  outline: none;
}
